<section class="form-group col-md-4">
        <input type="text" class="form-control form-control-lg søg" placeholder="Søg efter dato">
        <input type="text" class="form-control form-control-lg søg" placeholder="Søg efter Adresse">
        <input type="text" class="form-control col-lg-6 søg" placeholder="Søg efter bruger">
    </section>

<section class="d-flex col-12 justify-content-start flex-wrap">
  <section *ngFor="let begivenhed of begivenheder" class="card text-white bg-primary mb-3 rute " style="max-width: 30rem;">
      <div class="card-header float-left"> Title: <p class="float-right text-warning"> Dato: {{begivenhed.dato}} <br> Tidpunkt: {{begivenhed.tid}} </p> <br> {{begivenhed.titel}}</div>
      <div class="card-body">
        <h4 class="card-title text-center">Fra {{begivenhed.startBy}} til {{begivenhed.slutBy}}</h4>
        <p class="card-text text-center">{{begivenhed.beskrivelse}} </p>
        <h5 class="card-footer text-center text-success">Tilmeldte: 22 </h5>
        <button type="button" (click)="Showthis(begivenhed.bid)" class="btn btn-outline-primary btn-lg col-sm-12" style="color: white" routerLink="/begivenhed">Se Mere...</button>
      </div>
  </section>
</section>