<input ngx-google-places-autocomplete class="form-control text-center" (onAddressChange)="handleAddressChange($event)"/>
<input ngx-google-places-autocomplete class="form-control text-center" (onAddressChange)="handleAddressChange2($event)"/>
<fieldset class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="" checked="" [(ngModel)]="check" data-md-icheck >
      Undgå motorvej
    </label>
  </div>
</fieldset>
<button type="button" class="btn btn-outline-primary btn-lg col-sm-12" (click)="getDirection()">SE RUTE</button>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction [origin]="origin" [destination]="destination" [avoidHighways]="avoidHighways" >
  </agm-direction>
</agm-map>