<h1 style="text-align: center;">Mine Begivenheder</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Dato</th>
      <th scope="col">By</th>
      <th scope="col">Tilmeldte</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <th scope="row">Aktiv</th>
      <td>D. 15/02 - 2018 kl. 13:00</td>
      <td>Århus</td>
      <td>102</td>
    </tr>
    <tr class="table-danger">
      <th scope="row">Aflyst</th>
      <td>D. 13/02 - 2018 kl. 10:00</td>
      <td>Horsens</td>
      <td>64</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Afsluttet</th>
      <td>D. 11/02 - 2018 kl. 12:00</td>
      <td>Vejle</td>
      <td>7</td>
    </tr>
  </tbody>
</table> 