<form>
  <fieldset>
    <legend>Begivenhed</legend>
    <div class="form-group">
      <label>Titel</label>
      <input type="text" class="form-control" placeholder="Skriv titel">
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Beskrivelse</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label>Dato</label>
      <div class="input-append date form_datetime">
          <input size="16" type="text" value="" readonly>
          <span class="add-on"><i class="icon-th"></i></span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>