<form>
  <fieldset>
    <h4 class="col-md-7 m-2 text-right">Opret Begivenhed</h4>
    <section class="col-lg-3 mx-auto opret">
      <label class="col-sm-12 text-md-center">Vælg en Title og et tidspunkt for begivenheden</label>
      <input type="text" class="form-control" placeholder="Skriv Titel">
      <section class="d-flex flex-row">
        <input class="form-control col-5" type="time" value="00:00">
        <input class="form-control col-7" type="date">
    </section>
      
    </section>
    <div class="form-group col-lg-7 mx-auto">
      <label for="exampleTextarea">Beskrivelse</label>
      <textarea class="form-control" id="exampleTextarea" rows="6"></textarea>
    </div>
    <section class="d-flex justify-content-around"> 
      <button type="submit" class="btn alert-success" style="color: cornsilk">Opret Begivenhed</button>
    </section>
   
  </fieldset>
</form>