<div class="jumbotron">
  <h1 class="display-3">Hyggetur</h1>
  <p class="lead">Fra Vejle til Horsens<br>D. 12/12 - 2018 kl. 12:00</p>
  <hr class="my-1">
  <p>Beskrivelse: Se det smukke landskab</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Tilmeld</a>
  </p>
  <div class="card border-primary mb-2" style="max-width: 20rem; float:">
    <div class="card-header">Antal: 24</div>
    <div class="card-body">
      <h4 class="card-title">Tilmeldte</h4>
      <p class="card-text">
        - Bo <br>
        - Børge <br>
        - Hans 
      </p>
    </div>
  </div>
 </div>