<div *ngFor="let begivenhed of begivenheder" class="jumbotron">
  <h1 class="display-3">{{begivenhed.titel}}</h1>
  <p class="lead">Fra {{begivenhed.startBy}} til {{begivenhed.slutBy}}<br>{{begivenhed.dato}} {{begivenhed.tid}}</p>
  <hr class="my-1">
  <p>{{begivenhed.beskrivelse}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Tilmeld</a>
  </p>
  <div class="card border-primary mb-2" style="max-width: 20rem;">
    <div class="card-header">Antal: 24</div>
    <div class="card-body">
      <h4 class="card-title">Tilmeldte</h4>
      <p class="card-text">
        - Bo <br>
        - Børge <br>
        - Hans 
      </p>
    </div>
  </div>
 </div>